services:
  # 1. Spring Boot 백엔드
  backend:
    image: hjh1248/hearo-backend:latest
    container_name: spring-backend
    restart: always
    ports:
      - "8000:8080"
    env_file:              
      - ./.env
    networks:
      - ssafy-network 

  # 2. Vue.js 프론트엔드
  frontend:
    image: hjh1248/hearo-frontend:latest
    container_name: vue-frontend
    restart: always
    ports:
      - "8001:80"
    networks:
      - ssafy-network

networks:
  ssafy-network:
    external: true