version: '3'
services:
  # 1. Spring Boot 백엔드
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: spring-backend
    restart: always
    ports:
      - "8000:8080"
    env_file:
      - ./.env
    networks:
      - ssafy-network 

  # 2. Vue.js 프론트엔드
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: vue-frontend
    restart: always
    ports:
      - "8001:80"
    networks:
      - ssafy-network

# 인프라 네트워크 사용
networks:
  ssafy-network:
    external: true